{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">Edit</h2>
<div class="row">
    <div class="col-sm-8">
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
    </div>
    <div class="col-sm-4">
        <img style="margin-bottom: 10px" src="{{ asset('/uploads/images/' ~ abook.image) }}" alt="{{abook.firstName}}" width="300">
    </div>
</div>
{% endblock %}
